body{
font-family: Arial, sans-serif;
background: linear-gradient(135deg,#4facfe,#00f2fe);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
}

.weather-card{
background:white;
padding:30px;
border-radius:15px;
width:320px;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h1{
margin-bottom:20px;
}

.search-box{
display:flex;
gap:10px;
margin-bottom:15px;
}

input{
padding:10px;
flex:1;
border-radius:5px;
border:1px solid #ccc;
}

button{
padding:10px;
border:none;
background:#4facfe;
color:white;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#00c6ff;
}

.location-btn{
margin-top:10px;
width:100%;
}

#loading{
display:none;
margin-top:15px;
font-weight:bold;
}

#weatherResult{
margin-top:20px;
font-size:18px;
}

img{
width:80px;
}